# ignore node dependency directories
node_modules/
**/node_modules/
bower_components/
.sass-cache/
yarn.lock

# generally ignored
.env
.idea/
.htaccess
*.DS_Store
*Thumbs.db
_.sass-cache
~imageoptim

# Log files
*.log
